{% extends 'customers/layout.html' %}

{% block title %}
    Add new Transfer
{% endblock %}

{% block rightbody %}
    <div class="album py-5 bg-light">
        <h1> Add new Transfer: </h1>
        <hr>
        {% if message == "" %}
            <div></div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
        {% endif %}
        <form action="{% url 'addTransaction' %}" method="post">
            {% csrf_token %}<br>
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text text-light bg-dark" for="inputGroupSelect01">Sender</span>
                        </div>
                        <select name="sender" class="form-control" id="inputGroupSelect01" width=100%>
                            {% for element in list %}
                                <option value="{{ element.id }}">{{ element }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text text-light bg-dark" for="inputGroupSelect02">Receiver</span>
                        </div>
                        <select name="receiver" class="form-control" id="inputGroupSelect02" onchange=chooseReceiver()>
                            {% for element in list %}
                                <option value="{{ element.id }}">{{ element }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text text-light bg-dark" id="">Balance</span>
                </div>
                <input type="number" class="form-control" placeholder="Value" name="value" min="0" value="100" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text text-light bg-dark" id="">Date & Time</span>
                </div>
                <input type="datetime-local" class="form-control" placeholder="Time" name="time" required>
            </div><br>
            <input class="btn btn-outline-dark" type="submit" value="Add new transfer" style="float: right;">
        </form>
    </div>
{% endblock %}