{% extends 'customers/layout.html' %}
{% load static %}

{% block title %}
    All Transfers
{% endblock %}

{% block leftbody %}
    <div class="col">
        <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
            <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">
                <div style="position: relative; bottom: -0.5rem;">&nbsp;&nbsp;&nbsp;&nbsp;All Users</div>
            </h2>
            <nav class="small" id="toc">
                <ul class="list-unstyled">
                    {% for user in users %}
                    <li class="my-2">
                        <a class="btn d-inline-flex align-items-center collapsed" href="{% url 'user' user.id %}">
                            {{ user }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
    </div>
{% endblock %}

{% block rightbody %}
    <div class="col-9">
        <div class="album py-5 bg-light">
            <h1 style="display: inline;"> &nbsp;All Transfers </h1>
            <a class="btn btn-outline-secondary btn-sm" style="position: relative; bottom: -0.6rem; float: right;"
                href="{% url 'addTransaction' %}"> Add new Transfer</a>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> Sender </th>
                        <th scope="col"> Receiver </th>
                        <th scope="col"> Balance </th>
                        <th scope="col"> Time </th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in transfers %}
                        <tr>
                            <td scope="row"> {{ transfer.sender }} </td>
                            <td scope="row"> {{ transfer.receiver }} </td>
                            <td scope="row"> {{ transfer.value }} LE </td>
                            <td scope="row"> {{ transfer.time }} </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                No Transfers
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
